import React from 'react';
import { Avatar } from '@patientslikeme/plm-ui-components';

class AvatarGroup extends React.Component {
  render() {
    return (
      <div>
        <Avatar url="http://example.com/u1.jpg" />
        Some text
        <Avatar url="http://example.com/u2.jpg" />
      </div>
    );
  }
}

export default AvatarGroup;
