import ReactDOM from 'react-dom';
import Modal from './Modal';

class App extends React.Component {
  state = {
    showModal: false,
  }

  if (!this.state.showModal) {
    return <button onClick={() => this.setState(showModal: true)}>show modal</button>;
  }

  return (
    <Modal showModal={this.state.showModal}>Stuff inside modal</Modal>
  );
}

ReactDOM.render(
  <App/>,
  document.getElementById('app')
);
