import React from 'react';
import ReactDOM from 'react-dom';

class Modal extends React.Component {
  renderModal() {
    return (
      <div className="some-modal-class">{this.props.children}</div>;
    );
  }

  render() {
    if (!this.props.showModal) {
      return null;
    }

    return ReactDOM.createPortal(this.renderModal(), document.getElementById('portal'));
  }
}
