import React, { PropTypes } from 'react';

class FooBar extends React.Component {
  state = {
    count: this.props.count,
  }

  render() {
    setTimeout(() => {
      if (this.state.count <= 128) {
        this.setState((prevState) => {
          return {
            count: prevState.count * 2,
          };
        });
      }
    }, 250);

    return <p>{this.state.count}</p>;
  }
}

export default FooBar;
